.mypy_cache/
.pytest_cache/
**/.mypy_cache/
.git/
**/__pycache__/
build/**
dist/**
lisflood.egg-info/**
lisflood_model.egg-info
*.py[c|o]
.eggs
.tox
tox.ini
*.tox.ini
MANIFEST.in
.gitignore
.gitattributes
