.mypy_cache/
.pytest_cache/
**/.mypy_cache/
.git/
**/__pycache__/
.jekyll-metadata
build/**
dist/**
lisflood.egg-info/**
lisflood_model.egg-info
*.py[c|o]
.eggs
.tox
tox.ini
pytest.ini
MANIFEST.in
/src/dist/
.gitignore
.gitattributes
