.idea
*.py[cod]
__pycache__/
build/
*.so
kinematic_wave_parallel_tools.html
lisflood_model.egg-info
/dist/
.eggs
.tox
/src/dist/
/src/lisflood/hydrological_modules/kinematic_wave_parallel_tools.c
.coverage
*.tox.ini
.vscode/settings.json
