*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
.idea
*.py[cod]
__pycache__/
build/
*.so
lisflood_model.egg-info
/dist/
.eggs
.tox
/src/dist/
.coverage
*.tox.ini
.vscode/
*.ipynb
.ipynb_checkpoints/
implementation_guide_scale_offset_packing.md
lisflood_optimization_report.md
lisflood_optimization_report_v2.md
