docs/assets/fonts/* linguist-vendored
docs/assets/js/main.min.js linguist-vendored
docs/assets/js/lunr/* linguist-vendored
docs/assets/js/plugins/* linguist-vendored
docs/assets/js/vendor/* linguist-vendored
docs/_sass/minimal-mistakes/vendor/* linguist-vendored
