{% if page.sidebar %}
  <div class="sidebar sticky">
    <nav class="nav__list">
      <input id="ac-toc" name="accordion-toc" type="checkbox" />
      <label for="ac-toc">Toggle menu</label>
      <ul class="nav__items">
        {% for s in page.sidebar %}
        <li>
           <span class="nav__sub-title">{{ s.section_title }}</span>
           <ul>
             {% for i in s.items %}
                 <li><a href="{{ i.url|relative_url }}" class="">{{ i.title }}</a></li>
             {% endfor %}
           </ul>
        </li>
        {% endfor %}
      </ul>
     </nav>
  </div>
{% endif %}
