affine==2.2.1
asn1crypto==0.24.0
astroid==1.6.5
attrs==18.2.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
#blaze==0.10.1
bleach==3.0.2
blosc==1.6.2
#bokeh==1.0.4
Bottleneck==1.2.1
cachetools==3.0.0
#Cartopy==0.16.0
cdo==1.4.0
cffi==1.11.5
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
cloudpickle==0.6.1
colorama==0.4.0
configparser==3.5.0
contextlib2==0.5.5
coverage==4.5.2
cryptography==2.4.1
cycler==0.10.0
dask==1.1.1
datashape==0.5.2
decorator==4.3.0
defusedxml==0.5.0
descartes==1.1.0
docopt==0.6.2
#earthengine-api==0.1.167
entrypoints==0.2.3
enum34==1.1.6
#Fiona==1.8.4
Flask==1.0.2
Flask-Cors==3.0.7
ftputil==3.4
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
#geopandas==0.4.0
#geoplot==0.2.3
#georasters==0.5.15
#google-api-python-client==1.7.4
#google-auth==1.6.1
#google-auth-httplib2==0.0.3
graphviz==0.10.1
#h5netcdf==0.6.2
h5py==2.9.0
httplib2==0.11.3
icc-rt==2019.0
idna==2.6
intel-openmp==2019.0
ipaddress==1.0.17
ipdb==0.11
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
#jupyter==1.0.0
#jupyter-client==5.2.3
#jupyter-console==5.2.0
#jupyter-core==4.4.0
#jupyterlab==0.33.12
#jupyterlab-launcher==0.11.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.0.1
LatLon==1.0.2
lazy-object-proxy==1.3.1
llvmlite==0.27.0
MarkupSafe==1.1.0
mccabe==0.6.1
mistune==0.8.4
mpmath==1.0.0
multipledispatch==0.6.0
munch==2.3.2
#nbconvert==5.4.0
#nbformat==4.4.0
netCDF4==1.3.1
networkx==2.2
notebook==5.7.4
numba==0.42.0
numexpr==2.6.9
odo==0.5.0
packaging==18.0
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.1
pathlib==1.0.1
pathlib2==2.3.2
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
prometheus-client==0.4.2
prompt-toolkit==1.0.15
psutil==5.4.8
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
pycrypto==2.6.1
#pygeoprocessing==1.6.0
Pygments==2.2.0
#pygobject==3.27.0
pylint==1.9.4
pymssql==2.1.4
pyOpenSSL==18.0.0
pyparsing==2.3.0
pyproj==1.9.6
PySAL==1.14.4.post2
#pyshp==2.0.1
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
pyxdg==0.25
PyYAML==3.13
pyzmq==17.1.2
#qtconsole==4.4.3
#rasterio==1.0.18
#rasterstats==0.13.0
rope==0.12.0
rsa==4.0
Rtree==0.8.3
scandir==1.9.0
#scikit-image==0.14.2
#seaborn==0.9.0
SecretStorage==2.3.1
Send2Trash==1.5.0
shape==1.0.0
#Shapely==1.6.4.post2
shapes==0.1.3
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.11.0
snuggs==1.4.2
soupsieve==1.7.3
#SQLAlchemy==1.2.17
#statsmodels==0.9.0
subprocess32==3.5.3
sympy==1.3
tables==3.4.4
terminado==0.8.1
terminaltables==3.1.0
testpath==0.4.2
#Theano==1.0.4
#tifffile==2019.1.30
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
traittypes==0.2.1
uritemplate==3.0.0
urllib3==1.24.1
#virtualenv==16.4.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
#widgetsnbextension==3.4.2
wrapt==1.10.11
xarray==0.11.3
xlrd==1.2.0
xlwt==1.3.0
basic-modeling-interface==0.2
